.rei{
    display: flex;
    justify-content: space-evenly;
}
.reileao img, reileao2 img{
    width: 320px;
}
.reileao2 img{
    width: 320px;
    height: 168px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/video/15383b359b574f8dce950c60d667b423.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.table, th, td{
    justify-content: center;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(160 160 160);
}
th{
    background-color: lightgray;
}